@import "colors";
*{
    margin:0%;
    padding: 0%;
    font-family: "Ubuntu" , sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth ;

   
}
a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
.notFound{
    background-color: $pink;
    width: 100%;
    height: 100vh;
    >main{
        background-color: white;
        height: 100%;
        max-width: 900px;
        margin: auto  ;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >div{
            display: flex;
            align-items: center;
            margin: 3rem;
            >svg{
                font-size: 4rem;

            }
            >h1{
                text-transform: uppercase;
                align-items: center;
                font:100 2.5rem "arial";
                margin: 0 1rem;
            }
        }
        >a{
            background-color: $red;
            border: none;
            color: white;
            padding: 1rem 1rem;
            border-radius: 5px;
            text-align: center;
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    > svg {
      font-size: 15rem;
      color: $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.3;
    }
  
    > div {
      font-size: 2rem;
    }
  }